# ignore environment file containing secrets
# .env
paper_env
cache
modules/__pycache__
modules/feedback_reports
modules/student_answers
modules/textbooks
modules/vector_store_cache
modules/evaluation_results.db
modules/model_answers.json
modules/questions.json
modules/student_answers.json
modules/syllabus.json